<ion-view view-title="注册" style="background:url('img/register_bg.jpg')no-repeat;background-size:100% 100%">
  <style>
    .page{margin-top:6rem;}
    .warpp{text-align: center;padding-top:2rem;color:white;font-size:25px}
  </style>
  <ion-content>
    <div class="warpp padding">
      <span>注册</span>
     <div class="list page padding">
       <ul style="opacity: 0.5">
          <li class="item item-input">
            <input type="text" placeholder="用户名"ng-model="regInfo.name"/>
          </li>
          <li class="item item-input">
            <input type="text" placeholder="邮箱"ng-model="regInfo.email"/>
          </li>
          <li class="item item-input">
            <input type="text" placeholder="手机号"ng-model="regInfo.phone"/>
          </li>
          <li class="item item-input">
            <input type="text"placeholder="密码"ng-model="regInfo.pwd"/>
          </li>
          <li class="item item-input">
            <input type="text"placeholder="确认密码"/>
          </li>
       </ul>
       <button class="button button-positive button-block " ng-click="reg()">完成</button>
     </div>
    </div>
  </ion-content>
</ion-view>


