*{
	margin: 0;
	padding: 0;
}
.head{
	width: 100%;
	position: relative;
}
.head_top{
	width: 100%;
	background: #E1E1E1;
}
.head_top .inner{
	width: 1200px;
	height: 32px;
	margin: 0 auto;
	color: #666666;
	font-size: 12px;
	line-height: 30px;
}
p{
	display: block;
}
.head_top .inner .hot_line{
	float: left;
}
.head_top .inner .welcome{
	float: right;
}
.head_middle{
	width: 100%;
	padding-top: 13px;
	background: url(../images/tou_bai.png) repeat;
	position: fixed;
	z-index: 999;
}
.clearfix{
	width: 1200px;
	height: 56px;
	margin: 0 auto;
}
.clearfix_logo{
	float: left;
	width: 313px;
	height: 45px;
}
.clearfix_nav{
	width: 642px;
	height: 56px;
	float: left;
	margin-left: 110px;
}
.clearfix_nav .clearfix_nav_h1{
	float: left;
	font-size: 18px;
	padding: 0 25px;
	color: #333333;
	font-weight: 300;
	line-height: 45px;
	cursor: pointer;
}
.clearfix_nav .clearfix_nav_h1 .p1{
	height: 55px;
}
.p1{
	cursor: pointer;
	height: 55px;
	color: #333333;
}
.clearfix_nav .clearfix_nav_h1 .p1:hover{
	color: #E66F0E;
	border-bottom: 2px solid #E66F0E;
}
.p1_now{
	color: #E66F0E;
	border-bottom: 2px solid #E66F0E;
}
.entrance{
    float: right;
    margin: 8px 0 0 30px;
    width: 70px;
    height: 30px;
    line-height: 30px;
    padding-left: 33px;
    font-size: 14px;
    color: #fff;
    background: url(../images/ico_02.png) no-repeat;
    cursor: pointer;
}
.yiru_xiala{
	width: 100%;
	position: absolute;
	height: 48px;
	top: 70px;
	left: 0;
	display: none;
	background: url(../images/tou_blue80.png) repeat;
}
ul{
	list-style: none;
}
.yiru_xiala_ul{
	width: 430px;
	position: absolute;
	left: 50%;
	margin-left: -210px;
	font-size: 15px;
	line-height: 48px;
}
.yiru_xiala_ul1{
	width: 430px;
	position: absolute;
	left: 50%;
	margin-left: 135px;
	font-size: 15px;
	line-height: 48px;
}
.yiru_xiala_li{
	float: left;
	color: #FFFFFF;
	margin-right: 37px;
	cursor: pointer;
}
.yiru_xiala_li1{
	float: left;
	color: #FFFFFF;
	margin-right: 37px;
	cursor: pointer;
}
.yiru_xiala_li:hover{
	color: #E66F0E;
}
.yiru_xiala_li1:hover{
	color: #E66F0E;
}
.yiru:hover .yiru_xiala{
	display: block;
}